<div id="logo">
  <svg
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      width="121.20043mm"
      height="296.2308mm"
      viewBox="0 0 429.45035 1049.6367"
      id="svg2"
      version="1.1"
      inkscape:version="0.91 r13725"
      sodipodi:docname="logo.svg">
     <defs
        id="defs4" />
     <sodipodi:namedview
        id="base"
        pagecolor="#ffffff"
        bordercolor="#666666"
        borderopacity="1.0"
        inkscape:pageopacity="0.0"
        inkscape:pageshadow="2"
        inkscape:zoom="0.62"
        inkscape:cx="78.401437"
        inkscape:cy="572.27374"
        inkscape:document-units="px"
        inkscape:current-layer="layer1"
        showgrid="false"
        fit-margin-top="0"
        fit-margin-left="0"
        fit-margin-right="0"
        fit-margin-bottom="0"
        inkscape:window-width="1280"
        inkscape:window-height="949"
        inkscape:window-x="-9"
        inkscape:window-y="-9"
        inkscape:window-maximized="1" />
    <metadata
       id="metadata7">
      <rdf:RDF>
        <cc:Work
           rdf:about="">
          <dc:format>image/svg+xml</dc:format>
          <dc:type
             rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
          <dc:title></dc:title>
        </cc:Work>
      </rdf:RDF>
    </metadata>
    <g
       inkscape:label="Ebene 1"
       inkscape:groupmode="layer"
       id="layer1"
       transform="translate(-1.4372727,-1.6905733)">
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;font-size:243.12310791px;line-height:125%;font-family:Oswald;-inkscape-font-specification:'Oswald Light';letter-spacing:0px;word-spacing:0px;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="-1363.3442"
         y="208.10858"
         id="text3344"
         sodipodi:linespacing="125%"
         transform="matrix(0,-0.66469468,1.5044501,0,0,0)"><tspan
           sodipodi:role="line"
           id="tspan3346"
           x="-1363.3442"
           y="208.10858"
           style="font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;font-family:Oswald;-inkscape-font-specification:'Oswald Light'">AR ON ROMMEL</tspan></text>
      <a xlink:href="#" onclick="$('#menu_expanded').toggle();">
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;font-size:343.71066284px;line-height:125%;font-family:Oswald;-inkscape-font-specification:'Oswald Light';letter-spacing:0px;word-spacing:0px;fill:#550000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           x="1079.5078"
           y="-2.7726357"
           id="text3350"
           sodipodi:linespacing="125%"
           transform="matrix(0,0.64948674,-1.5396773,0,0,0)"><tspan
             sodipodi:role="line"
             id="tspan3352"
             x="1079.5078"
             y="-2.7726357">i</tspan></text>
      </a>
      <text
         xml:space="preserve"
         style="font-style:italic;font-variant:normal;font-weight:300;font-stretch:normal;font-size:299.25039673px;line-height:125%;font-family:Exo;-inkscape-font-specification:'Exo Light Italic';letter-spacing:0px;word-spacing:0px;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="-1489.8156"
         y="223.93774"
         id="text3339"
         sodipodi:linespacing="125%"
         transform="matrix(0,-0.71663546,1.3954096,0,0,0)"><tspan
           sodipodi:role="line"
           id="tspan3341"
           x="-1489.8156"
           y="223.93774">M</tspan></text>
    </g>
  </svg>
</div>
