/* ============================================================
  CUSTOM ELEMENTS
============================================================ */
.galleria{
  width: 62vw;
  height: 100vh;
  background: #aaa;
  float: right;
  margin: 0;
  padding: 0;
  clear: right;
}

#sidebar {
  position: relative;
  padding-left: 0;
  float:left;
  width: 35vw;
}
#menu {
  float: right;
  font-size: 5vh;
  margin-top: 42vh;
}
#logo {
  display: inline-block;
  position: relative;
  padding-bottom: 100vh;
  vertical-align: middle;
}
#logo svg {
  display: inline-block;
  position: absolute;
  top: 0vh;
  left: 0;
  width: auto;
  height: 100vh;
}
