/* ============================================================
  OVERWRITE ELEMENTS
============================================================ */
.upload_modal {
  min-height: 40vh;
  text-align: center;
}
.file-picker__preview {
  text-align: center;
}
.file-picker__preview__image {
  width: 50%;
  height: 50%;
}
/* ============================================================
  CUSTOM ELEMENTS
============================================================ */
.galleria {
  width: 62vw;
  height: 100vh;
  background: #aaa;
  float: right;
  margin: 0;
  padding: 0;
  clear: right;
}

#sidebar {
  position: relative;
  padding-left: 0;
  float:left;
  width: 35vw;
}
#menu {
  float: right;
  font-size: 5vh;
  margin-top: 42vh;
}
#logo {
  display: inline-block;
  position: relative;
  padding-bottom: 100vh;
  vertical-align: middle;
}
#logo svg {
  display: inline-block;
  position: absolute;
  top: 0vh;
  left: 0;
  width: auto;
  height: 100vh;
}
.modal_content {
  font-size: 50%;
}
.modal_content p, h4 {
  padding-bottom: 10px;
}
#error_messages{
  margin-bottom: 5px;
  padding: 5px;
  border: #5a0505 1px solid;
  background: #fdbebe;
  color: #5a0505;
  font-size: 50%;
}
#messagePopUp {
  position: fixed;
  text-align: center;
  background: #ddd;
  opacity: 1.0;
  top: 0;
  width: 100vw;
  z-index: 99;
}